<p>
    Bonjour !<br>
    Clique sur le lien ci‑dessous pour confirmer ton adresse e‑mail :
    <a href="{{ signedUrl }}">Confirmer mon email</a>
</p>

<p>
    Ce lien expire dans {{ expiresMessageData }}.
</p>