{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}
    <h2 id="h2Infos">Liste des Avis</h2>

    {% if avis is empty %}
        <p>Aucun avis disponible pour le moment.</p>
    {% else %}
        <ul class="affArt">
            {% for avis in avis %}
                <li class="contener darkMode">
                    <p><strong>{{ avis.nom }}</strong> a dit : </p>
                    <p>{{ avis.message }}</p>

                    <div class="stars-display">
                        {% for i in 1..5 %}
                            {% if i <= avis.note %}
                                <span style="color: gold;">★</span>
                            {% else %}
                                <span style="color: #ccc;">★</span>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <small>Posté le {{ avis.createdAt|date('d/m/Y H:i') }}</small>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
