*,
::after,
::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* --------------------------- Header ---------------------- */

header {
    display: flex;
    justify-content: space-between;
    background-image: url(../images/photos/Bois.jpeg);
}
#navbar {
    display: flex;    
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    margin-right: 20px;
}
#logo {
    max-width: 200px;
    margin: 20px 0px 20px 30px;
}
#div {
    width: 100%;
    display: flex;    
    flex-direction: column;
}
h1 {
    margin: auto 0% auto 22%;
    font-family: "Playfair Display";
    color: white;
    text-shadow: -3px 2px 2px black;
    font-size: 3em;
}
a {
    color: white;
    text-shadow: -3px 2px 2px black;
    font-size: 20px;
    text-decoration: none;
    margin-right: 10px;
    font-family: "Playfair Display";
}
.logoNavbar {
    max-width: 45px;
    margin-right: 30px;
}


/* --------------------------- Footer ---------------------- */

footer {    
    background-image: url(../images/photos/Bois.jpeg);
}
#footer {
    height: 70px;
    display: flex;
    justify-content: space-between;    
    align-items: center;
}
#mentions {
    display: flex;
    margin-left: 30px;
    gap: 20px;
}
#mentions p {
    color: white;
    text-shadow: -3px 2px 2px black;
    font-family: "Playfair Display";
    display: inline-flex;
    align-items: center;
}
#footContact {
    display: flex;
    margin-right: 30px;
    gap: 20px;    
    align-items: center;
}
#tel {    
    margin-bottom: 10px;
}
#telLogo{
    display: none;
}
#telLogo img {
    max-width: 30px;
}


/* --------------------------- Body accueil ---------------------- */

h2 {
    margin: 50px;
    text-align: center;
    font-family: "Playfair Display";
    color: #2B2B2B;
}

.photoCouv {
    min-width: 100%;
    max-height: 600px;
}
.presentation {
    max-width: 60%;
    margin: 50px auto;
    text-align: left;
    font-size: 1.2em;
    font-family: "Montserrat";
    color: #2B2B2B;
}
.presentation p {
    margin-bottom: 20px;
}