*,
::after,
::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: skyblue;
}
header {
    display: flex;
    justify-content: space-between;
    background-image: url(../images/photos/Bois.jpeg);
}
#navbar {
    display: flex;    
    align-items: center;
    gap: 30px;
    margin-right: 50px;
}
#logo {
    max-width: 70px;
    margin: 20px 0px 20px 30px;
}
h1 {
    margin: auto auto;
    color: white;
    text-shadow: -3px 2px 2px black;
}
a {
    color: white;
    text-shadow: -3px 2px 2px black;
    font-size: 20px;
    text-decoration: none;
    margin-right: 10px;
}
.logoNavbar {
    max-width: 35px;
}
.photoCouv {
    min-width: 100%;
    max-height: 600px;
}
.presentation {
    max-width: 60%;
    margin: 50px auto;
    text-align: left;
    font-size: 1.5em;
}