*,
::after,
::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* --------------------------- Jour/Nuit ---------------------- */

.light {
    background-color: white;
    color: #2B2B2B;
}
.dark {
    background-color: #2B2B2B;
    color: white;
}



/* --------------------------- Header ---------------------- */

header {
    display: flex;
    justify-content: space-between;
    background-image: url(../images/photos/Bois.jpeg);
}
#navbar {
    display: flex;    
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    margin-right: 30px;
}
#logo {
    max-width: 100px;
    margin: 20px 0px 20px 30px;
}


h1 {
    margin: auto auto;
    font-family: "Playfair Display";
    color: white;
    text-shadow: -3px 2px 2px black;
    font-size: 2.5em;
}
a {
    color: white;
    text-shadow: -3px 2px 2px black;
    font-size: 20px;
    text-decoration: none;
    margin-right: 10px;
    font-family: "Playfair Display";
}
.logoNavbar {
    max-width: 45px;
    margin-right: 30px;
}
#icon {
    height: 47px;
    margin: auto auto;
}
.bouton {
    max-width: 15px;
    margin: auto auto;
}



/* --------------------------- Footer ---------------------- */

footer {    
    background-image: url(../images/photos/Bois.jpeg);
}
#footer {
    height: 70px;
    display: flex;
    justify-content: space-between;    
    align-items: center;
}
#mentions {
    display: flex;
    margin-left: 30px;
    gap: 20px;
}
#mentions p {
    color: white;
    text-shadow: -3px 2px 2px black;
    font-family: "Playfair Display";
    display: inline-flex;
    align-items: center;
}
#footContact {
    display: flex;
    margin-right: 30px;
    gap: 20px;    
    align-items: center;
}
#tel {    
    margin-bottom: 10px;
}
#telLogo{
    display: none;
}
#telLogo img {
    max-width: 30px;
}


/* --------------------------- Body accueil ---------------------- */

h2 {
    margin: 50px;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 1.5em;
}

.photoCouv {
    min-width: 100%;
    max-height: 600px;
}
.presentation {
    max-width: 80%;
    margin: 50px auto;
    text-align: left;
    font-size: 1.2em;
    font-family: "Montserrat";
}
.accueil {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}
.bloc {
    flex: 0 0 50%;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}
.bloc p {
    text-align: left;
    margin: auto 30px;
}
.bloc img {
    width: 100%;
}






.texte {
    max-width: 60%;
    margin: 50px auto;
    text-align: left;
    font-size: 1.2em;
    font-family: "Montserrat";
}
.texte p {
    margin-bottom: 20px;
}