*,
::after,
::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* masque le scroll horizontal “fictif” */
}

/* --------------------------- Jour/Nuit ---------------------- */

.light {
    background-color: white;
    color: #2B2B2B;
}
.dark, .dark .delete-btn, .dark .deleteMess {
    background-color: #2B2B2B;
    color: white;
}
.dark table, .dark .darkMode {
    background-color: #444444;
}
.dark .divMess a, .dark .darkMode {
    color: white;
}
.dark .history {
    background-color: #333333 ;
}



/* --------------------------- Header ---------------------- */

header {
    background-image: url(../images/logo/Bois.jpeg);
}
#bandeau {
    position: relative; /* ou fixed si tu veux qu'il reste à l'écran en scrollant */
    width: 100%;
    text-shadow: -3px 2px 2px black;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-weight: bold;
    font-size: 1.1em;
    color: white;
}
#enTete {
    display: flex;
    justify-content: space-between;
}
#navbar {
    display: flex;    
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    margin-right: 30px;
}
#logo {
    max-width: 200px;
}


h1 {
    margin: auto auto;
    font-family: "Playfair Display, sans serif";
    color: white;
    text-shadow: -3px 2px 2px black;
    font-size: 2.7em;
}
.lien {
    color: white;
    text-shadow: -3px 2px 2px black;
    font-size: 20px;
    text-decoration: none;
    margin-right: 10px;
    font-family: "Playfair Display";
}
.logoNavbar {
    max-width: 50px;
    margin-right: 30px;
}
#icon {
    height: 45px;
    margin: auto auto;
}
.bouton {
    max-width: 15px;
    margin: auto auto;
}



/* --------------------------- Footer ---------------------- */

footer {    
    background-image: url(../images/logo/Bois.jpeg);
}
#footer {
    min-height: 70px;
    display: flex;
    justify-content: space-between;    
    align-items: center;
    padding: 20px;
}
#mentions {
    display: flex;
    margin-left: 30px;
    gap: 20px;
}
#mentions p {
    color: white;
    text-shadow: -3px 2px 2px black;
    font-family: "Playfair Display";
    font-size: 15px;
    display: inline-flex;
    align-items: center;
}
#footContact {
    display: flex;
    margin-right: 30px;
    gap: 20px;    
    align-items: center;
}
#tel {    
    margin-bottom: 10px;
    font-size: 25px;
}
#telLogo{
    display: none;
}
#telLogo img {
    max-width: 40px;
}
#insta {
    max-width: 40px;
}


/* --------------------------- accueil ---------------------- */


h2 {
    margin: 50px;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 1.7em;
}

.photoCouv {
    min-width: 100%;
    max-height: 600px;
}
.presentation {
    max-width: 80%;
    margin: 50px auto;
    text-align: left;
    font-size: 1.2em;
    font-family: "Montserrat";
}
.accueil {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}
.bloc {
    flex: 0 0 50%;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}
.bloc p {
    text-align: left;
    margin: auto 30px;
}
.bloc img {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

.HP {
    background-color: #f7f7f7;
    color: black;
    font-family: "Montserrat";
    display: inline-block;
    text-decoration: none;
    margin-left: 70%;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}
p {
    font-family: "Montserrat";
}


/* --------------------------- RGPD/CGU ---------------------- */

h4 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.texte {
    max-width: 60%;
    margin: 50px auto;
    text-align: left;
    font-size: 1.2em;
    font-family: "Montserrat";
}
.texte p {
    margin-bottom: 20px;
}


/* --------------------------- prestations ---------------------- */

.textePresta {
    max-width: 60%;
    margin: 50px auto;
    text-align: left;
    font-size: 1.2em;
    font-family: "Montserrat";
}
.textePresta p {
    margin-bottom: 20px;
    font-size: 0.8em;
}
table {
    border-spacing: 40px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f7f7f7;
    width: 100%;
    table-layout: fixed;
    overflow: hidden;
}
tbody {
    border-radius: 10px;
}
.td1 {
    width: 60%;
    padding: 20px;
}
.td2 {
    width: 15%;
    padding: 20px;
}
.td3 {
    width: 25%;
    padding: 20px;
}
.presta-content {
    display: block;
}


/* --------------------------- Photos ---------------------- */


.gallery {
    margin: 50px 50px;
}
.gallery img {
    max-width: 360px;
    border-radius: 10px;
}
#categoryForm {
    margin-left: 50px;
    margin-bottom: -80px;
}
#select {
    height: 40px;
    padding: 5px;
    border-radius: 10px;
}
.photo-card {
    width: 100%;
}

/* --------------------------- Boutique ---------------------- */

.alert {
    background-color: #f7f7f7;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    height: 45px;
    width: 20%;
    margin-left: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.alert span {
    flex: 1;
}

.affArt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin: 150px 50px 80px 50px;
    height: 100%;
}
.contener {
    background-color: #f7f7f7;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    gap: 30px;
    padding: 20px;
}
.cardArt {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 30px;
    padding: 20px;
}
.cardArt img {
    max-width: 100px;
    margin: auto;
}
.action {
    margin: 30px auto;
}
.boutAct { 
    text-decoration: none;
    background-color: white;
    color: #2B2B2B;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    align-self: center;
    margin-left: 20px;
    margin-right: 20px;
}
.bandeauLog {
    background-color: #f7f7f7;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;

}
.deco {
    display: inline-block;
    max-width: 50px;
    margin-right: 100px;
}
#products_description {
    height: 100px;
}

/* --------------------------- Panier ---------------------- */


.affPanier {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: start;
    gap: 50px;
    margin: 150px 50px;
    height: 100%;
}
.panier {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.panierArt {
    background-color: #f7f7f7;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    gap: 30px;
    padding: 20px;
}
.cardPanier {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
}
.cardPanier img {
    max-width: 80px;
}
.recap {
    position: sticky;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}
.addressForm {
    margin-top: 30px;
    width: 60%;
}
.h3Livr {
    margin-top: 40px;
    font-size: 1.1em;
}
.paye {
    background-color: #2F80ED;
    color: #FFFFFF;
    display: block;
    width: 80%;
    margin: 50px auto 30px auto;
    height: 50px;
    cursor: pointer;
}


/* --------------------------- Historique ---------------------- */

.affHist {
    margin-bottom: 50px;
}
.history {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    background-color: #FAFAFA;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 70%;
    margin: 100px auto;
}

/* --------------------------- Infos/Contact ---------------------- */
#h2Infos {
    font-size: 2em;
    font-family: "Playfair Display";
}
h3 {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: left;
    font-size: 1.5em;
    font-family: "Montserrat";
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.input, .area {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.area {
    resize: vertical; /* permet de redimensionner verticalement */
    min-height: 150px;
}
.bout {
    background-color: white;
    color: #2B2B2B;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    align-self: center;
    margin-top: 30px;
    margin-left: 80%;
}
.IC {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 70px auto;

}
.contact, .ICD, .iframe {
    background-color: #f7f7f7;
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px;
}
.ICD {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 25%;

}
.ICD p {
    font-size: 1.2em;
}
.avisGoogle {
    width: 100%;
}
.contact {
    width: 60%;

}
.iframe {
    max-width: 70%;
    margin: 30px auto;
}
iframe {    
  display: block;
  margin: 40px auto;
}
#logoInfos {
    width: 100%;
    margin-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* --------------------------- Messages ---------------------- */


.divMess {
    width: 80%;
    margin: 50px auto;
}
.divMess span {
    margin-bottom: 20px;
    font-size: 1.2em;
}
.divMess p {
    margin-bottom: 20px;
    font-size: 1.2em;
}
.divMess a {
    text-decoration: none;
    color: #2B2B2B;
}
.card {    
    background-color: #f7f7f7;
    border: 1px solid black;
    border-radius: 10px;
    margin: 30px 20px;
    padding: 20px;
    position: relative;
}
.delete-btn, .deleteMess {
    position: absolute;
    text-decoration: none;    
    cursor: pointer;
    top: 5px;
    right: 20px;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}
.div1, .div2 {
    margin: 10px 0;
    display: flex;
    gap: 50px;
}
.div3 {
    margin: 10px 0;
}



/* --------------------------- Inscription ---------------------- */

.formInsc {
    background-color: #f7f7f7;
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px;
    width: 70%;
    margin: 70px auto;
}
.formInsc div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.formInsc label {
    font-weight: bold;
    margin-bottom: 5px;
}
.checkBox {
    display: block !important;
}
.checkBox input {
    margin-left: 20px;
}

/* --------------------------- Connexion ---------------------- */

.login {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.login main {
    flex: 1;
}
.formLogin {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 40%;
    margin: 50px auto;
    padding: 40px;
    
}
.formLogin label {    
    font-weight: bold;
}
.inputLog {    
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 60%;
}
#lienInsc {
    margin: auto;
    text-decoration: none;
}


/* --------------------------- Media Query ---------------------- */

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
}
.navbar-toggler {
    padding: 0.5rem 0.75rem;
}

@media all and (min-width: 1610px) {
  /* Afficher le menu en horizontal */
    .responsive {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

  /* Forcer la collapse à être visible et horizontal */
    .responsive .collapse {
        display: flex !important;
        flex-basis: auto;
    }

  /* Les liens en horizontal */
    .responsive .navbar-nav {
        flex-direction: row !important;
        gap: 20px; /* espace entre les liens */
    }

  /* Cacher le bouton burger */
    .responsive .navbar-toggler {
        display: none;
    }
}


@media all and (max-width: 1160px) {
    .accueil {        
        flex-direction: column;
    }
    h1 {
        display: none;
    }
    #enTete {        
        justify-content: space-around;
    }
    #bandeau {
        flex-direction: column;
        margin-left: 40px;
    }
}

@media all and (max-width: 900px) {
    #logoInfos {
        display: none;
    }
    .IC {
        flex-direction: column-reverse;
        gap: 40px;
    }
    .ICD {
        width: 70%;
    }
    .contact {
        width: 70%;
    }

}

@media all and (max-width: 810px) {
    #mentions {
        flex-direction: column;
    }
    #tel {
        display: none;
    }
    #telLogo {
        display: block;
    }
    .presta-content {
        display: none; /* caché par défaut */
    }
    .presta-title {
        cursor: pointer;
        background-color: #f7f7f7;
        padding: 10px;
        border-radius: 5px;
    }
    .dark .presta-title {
        background-color: #444444;
        color: white;
    }
    table, thead, tbody, tr, td, th {
        display: block !important;
        width: 100% !important;
    }
    tr {
        padding: 20px 10px;
    }
    td, th {
        display: flex;
        justify-content: space-between;
        padding: 0 10px !important;
    }
}