{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {# <img class="photoCouv" src="{{ asset('images/photos/test2.PNG') }}" alt="Logo"> #}

    <div class="presentation">

        <h2>Le 88 Comptoir du cheveu, votre coiffeur et coloriste à Nieul sur Mer</h2>

            <div class="accueil">
                <div class="bloc">
                    <p>Ouvert depuis 5 ans, notre salon de coiffure s’est rapidement imposé comme une adresse incontournable pour toutes celles et ceux qui recherchent une expérience beauté personnalisée et chaleureuse.</p>

                    <p>À la tête de l’établissement, une professionnelle forte de 20 ans d’expérience met son savoir-faire au service de chaque client. Grâce à sa maîtrise des techniques traditionnelles comme des tendances actuelles, elle propose un accompagnement sur mesure, alliant écoute, conseils et créativité.</p>
                </div>
                <div class="bloc">
                    <img src="{{ asset('images/photos/salon1.JPG') }}" alt="Photo Salon"> <br>
                </div>
                <div class="bloc">
                    <img src="{{ asset('images/photos/salon2.JPG') }}" alt="Photo Salon">
                </div>
                <div class="bloc">
                    <p>Le salon offre une large gamme de prestations :</p>

                    <p>coupes femmes, hommes et enfants,</p>

                    <p>colorations et balayages,</p>

                    <p>soins capillaires adaptés à chaque type de cheveux,</p>

                    <p>coiffures événementielles,</p>

                    <p>taille de la barbe,</p>
                
                    <p>conseils personnalisés en image et entretien du cheveu.</p>
                </div>
                <div class="bloc">
                    <p>L’ambiance y est conviviale, moderne et orientée bien-être. Chaque visite est pensée pour offrir un moment de détente et un résultat à la hauteur de vos attentes.</p>
                </div>
                <div class="bloc">
                    <img src="{{ asset('images/photos/salon4.JPG') }}" alt="Photo Salon">
                </div>
            </div>
    </div>
{% endblock %}