{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <img class="photoCouv" src="{{ asset('images/photos/test2.PNG') }}" alt="Logo">

    <div class="presentation">
        <p>
            ✂️ Présentation du Salon de Coiffure <br><br>

            Ouvert depuis 5 ans, notre salon de coiffure s’est rapidement imposé comme une adresse incontournable pour toutes celles et ceux qui recherchent une expérience beauté personnalisée et chaleureuse. <br><br>

            À la tête de l’établissement, une professionnelle forte de 20 ans d’expérience met son savoir-faire au service de chaque client. Grâce à sa maîtrise des techniques traditionnelles comme des tendances actuelles, elle propose un accompagnement sur mesure, alliant écoute, conseils et créativité. <br><br>

            Le salon offre une large gamme de prestations :<br><br>

            coupes femmes, hommes et enfants,<br><br>

            colorations et balayages,<br><br>

            soins capillaires adaptés à chaque type de cheveux,<br><br>

            coiffures événementielles,<br><br>

            conseils personnalisés en image et entretien du cheveu.<br><br>

            L’ambiance y est conviviale, moderne et orientée bien-être. Chaque visite est pensée pour offrir un moment de détente et un résultat à la hauteur de vos attentes.</p>
    </div>
{% endblock %}