{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
    <h2>Mentions Légales</h2>

    <div class="texte">
        <p>Site : le88comptoirducheveu.fr</p>
        <p>Éditeur du site : Thomas Durandière</p> <br>

        <p>1. Propriétaire du site</p>

        <p>Le 88 Comptoir du cheveu</p>
        <p>Forme juridique SARL : Coiffure</p>
        <p>Adresse : 1 Rue Florence Arthaud, 17137 Nieul-sur-Mer, France</p>
        <p>Téléphone : 05.46.07.36.79</p>
        <p>E-mail : le88.comptoirducheveu@gmail.com</p>

        <p>Identification</p>

        <p>SIRET : 891 300 956 00010</p>

        <p>Numéro TVA intracommunautaire FR07 891 300 956</p>

        <p>Directeur de publication</p>

        <p>Rondel Anaïs</p> <br>

        <p>2. Hébergeur du site</p> 

        <p>Thomas Durandière</p>
        <p>Adresse : La Rochelle</p>
        <p>Téléphone : 06.64.28.33.42</p> <br>

        <p>3. Propriété intellectuelle</p>

        <p>L’ensemble des contenus présents sur le site (textes, photos, logos, images, graphiques, etc.) sont la propriété exclusive de Le 88 comptoir du cheveu ou de leurs auteurs respectifs.</p>

        <p>Toute reproduction, distribution, modification ou utilisation sans autorisation est interdite.</p> <br>

        <p>4. Données personnelles</p>

        <p>Les informations éventuellement collectées lors d'une prise de rendez-vous, d’un formulaire de contact ou d’une inscription sont traitées conformément à la réglementation RGPD.</p>

        <p>L’utilisateur dispose d’un droit d’accès, de rectification et de suppression de ses données.</p>
        <p>Pour exercer ces droits, contacter : le88.comptoirducheveu@gmail.com</p> <br>

        <p>5. Cookies</p>

        <p>Le site peut utiliser des cookies afin d'améliorer la navigation ou d’analyser la fréquentation.</p>
        <p>L’utilisateur peut désactiver les cookies via son navigateur.</p> <br>

        <p>6. Limitation de responsabilité</p>

        <p>Le propriétaire du site ne peut être tenu responsable en cas :</p> 

        <p>d’erreurs ou omissions sur le site,</p>

        <p>de dysfonctionnements techniques,</p>

        <p>de dommages indirects liés à l’utilisation du site.</p> <br>

        <p>7. Contact</p>

        <p>Pour toute question concernant le site ou les mentions légales :</p>
        <p>📧 le88.comptoirducheveu@gmail.com</p>
        <p> 📞 05.46.07.36.79</p>
    </div>
        
    <a class="HP" href="#">Haut de page</a>

{% endblock %}