{% extends 'base.html.twig' %}

{% block title %}Prestations{% endblock %}

{% block body %}

    <div class="text">
        <h2>Nos Prestations</h2>

        <p>SOINS CAPILAIRE

Pour tous les soins choisis, pensez à réserver également la prestation brushing ou coupe


Soin masque				 		 5min -  9,50 €

Soin avec boost de vitamines				10min - 14,50 €

Rituel soin booster dose capsule			15min - 25,50 €

Rituel soin traitement kétamine			   	   1h - 65,00 €

Rituel soin en profondeur Revlon thalassothérapie	   1h - 77,00 €

CURE ANTI CHUTE

Approche innovante de thérapie capillaire inspirée du lait maternel, stimulant la croissance des cheveux, luttant 
contre leur chute et leur redonnent vitakité.
Agissant comme un stimulant cellulaire, le soin favorise une meilleur oxygénation du cuir chevelu, renforce et 
nourrit les follicules pileux ainsi que l'ensemble de la chevelure. Recommandé tant pour les hommes que pour les 
femmes souffrant d'atrophie capillaire, il agit comme un véritable revitalisant pour les cheveux.</p>

    </div>


{% endblock %}