{% extends 'base.html.twig' %}

{% block title %}Prestations{% endblock %}

{% block body %}

    <div class="textePresta">
        <h2>Nos Prestations</h2>        

        <h4>SOINS CAPILAIRE</h4>
        <p>Pour tous les soins choisis, pensez à réserver également la prestation brushing ou coupe</p>

        <table>
            <tr>
                <td class="td1">Soin masque</td>
                <td class="td2">5min</td>
                <td class="td3">9,50 €</td>
            </tr>
            <tr>
                <td class="td1">Soin avec boost de vitamines</td>
                <td class="td2">10min</td>
                <td class="td3">14,50 €</td>
            </tr>
            <tr>
                <td class="td1">Rituel soin booster dose capsule</td>
                <td class="td2">15min</td>
                <td class="td3">25,50 €</td>
            </tr>
            <tr>
                <td class="td1">Rituel soin traitement kétamine</td>
                <td class="td2">1h</td>
                <td class="td3">65 €</td>
            </tr>
            <tr>
                <td class="td1">Rituel soin en profondeur Revlon thalassothérapie</td>
                <td class="td2">1h</td>
                <td class="td3">77 €</td>
            </tr>
        </table>

        <h4>CURE ANTI CHUTE</h4>
        <p>Approche innovante de thérapie capillaire inspirée du lait maternel, stimulant la croissance des cheveux, luttant 
            contre leur chute et leur redonnent vitakité.
            Agissant comme un stimulant cellulaire, le soin favorise une meilleur oxygénation du cuir chevelu, renforce et 
            nourrit les follicules pileux ainsi que l'ensemble de la chevelure. Recommandé tant pour les hommes que pour les 
            femmes souffrant d'atrophie capillaire, il agit comme un véritable revitalisant pour les cheveux.</p>
        <p>Cure de 3 mois avec suivie tous les 15 à 17 jours en salon (5 passages) et gamme d'entretien à avoir à la maison en supplément.</p>

        <table>
            <tr>
                <td class="td1">Cure 3 mois homme</td>
                <td class="td2">45min</td>
                <td class="td3">à partir de 290 €</td>
            </tr>
            <tr>
                <td class="td1">Cure 3 mois femme</td>
                <td class="td2">45min</td>
                <td class="td3">à partir de 350 €</td>
            </tr>
            <tr>
                <td class="td1">Gamme entretien à la maison</td>
                <td class="td2">1min</td>
                <td class="td3">120 €</td>
            </tr>
        </table>


        <h4>Femmes</h4>
        
        <table>
            <tr>
                <td class="td1">Shampoing + brushing - cheveux courts<p>Longueurs jusqu'aux oreilles</p></td>
                <td class="td2">30min</td>
                <td class="td3">à partir de 30,50 €</td>
            </tr>
            <tr>
                <td class="td1">Shampoing + coupe + brushing - cheveux courts<p>Longueurs jusqu'aux oreilles</p></td>
                <td class="td2">30min</td>
                <td class="td3">à partir de 43,50 €</td>
            </tr>
            <tr>
                <td class="td1">Shampoing + brushing - cheveux mi-longs<p>Longueurs jusqu'aux épaules</p></td>
                <td class="td2">30min</td>
                <td class="td3">à partir de 41,50 €</td>
            </tr>
            <tr>
                <td class="td1">Shampoing + coupe + brushing - cheveux mi-longs<p>Longueurs jusqu'aux épaules</p></td>
                <td class="td2">45min</td>
                <td class="td3">à partir de 55 €</td>
            </tr>
            <tr>
                <td class="td1">Shampoing + soin + brushing - cheveux longs<p>Longueur en dessous des épaules</p></td>
                <td class="td2">45min</td>
                <td class="td3"à partir de 59,50 €></td>
            </tr>
        </table>

        <h4>Coloration</h4>
        <p>Application de couleur sur la racine à 5 semaines de repousse (hors coloration des longueurs)</p>

        <table>
            <tr>
                <td class="td1">Coloration + shampoing + brushing - cheveux courts<p>Application de couleur en racine sans balayage ni autre service couleur ou d'éclaircissement sur les longueurs</p></td>
                <td class="td2">1h 45min</td>
                <td class="td3">à partir de 79,50 €</td>
            </tr>
            <tr>
                <td class="td1">Coloration + shampoing + coupe + brushing - cheveux courts<p>Application de couleur en racine sans balayage ni autre service couleur ou d'éclaircissement sur les longueurs</p></td>
                <td class="td2">1h 45min</td>
                <td class="td3">à partir de 92,50 €</td>
            </tr>
            <tr>
                <td class="td1">Coloration + shampoing + brushing - cheveux mi-longs<p>Application de couleur en racine sans balayage ni autre service couleur ou d'éclaircissement sur les longueurs</p></td>
                <td class="td2">1h 45min</td>
                <td class="td3">à partir de 90,50 €</td>
            </tr>
            <tr>
                <td class="td1">Coloration + shampoing + coupe + brushing - cheveux mi-longs<p>Application de couleur en racine sans balayage ni autre service couleur ou d'éclaircissement sur les longueurs</p></td>
                <td class="td2">2h</td>
                <td class="td3">à partir de 104€</td>
            </tr>
            <tr>
                <td class="td1">coloration + soin + shampoing + brushing - cheveux longs<p>Application de couleur en racine sans balayage ni autre service couleur ou d'éclaircissement sur les longueurs</p></td>
                <td class="td2">2h</td>
                <td class="td3">à partir de 108,50 €</td>
            </tr>
            <tr>
                <td class="td1">Coloration + soin + shampoing + coupe + brushing - cheveux longs<p>Application de couleur en racine sans balayage ni autre service couleur ou d'éclaircissement sur les longueurs</p></td>
                <td class="td2">2h 15min</td>
                <td class="td3">à partir de 125,50 €</td>
            </tr>
        </table>

        <h4>Bain de Couleur</h4>

        <table>
            <tr>
                <td class="td1">Bain de Couleur<p>Service post mèches, balayage ou d'entretien ente chaque techniques (patine)</p></td>
                <td class="td2">1h</td>
                <td class="td3">à partir de 37 €</td>
            </tr>
        </table>

        <h4>Balayage / Ombré Hair / Baby Light</h4>

        <table>
            <tr>
                <td class="td1">Ombré hair / baby light + shampoing + brushing - cheveux courts	</td>
                <td class="td2">2h 15min</td>
                <td class="td3">à partir de 95,50 €</td>
            </tr>
            <tr>
                <td class="td1">Ombré hair / baby light + shampoing + coupe + brushing - cheveux courts</td>
                <td class="td2">2h 15min</td>
                <td class="td3">à partir de 108,50 €</td>
            </tr>
            <tr>
                <td class="td1">Ombré hair / baby light + shampoing + soin + bain de couleur + brushing - cheveux mi-longs</td>
                <td class="td2">3h</td>
                <td class="td3">à partir de 168 €</td>
            </tr>
                <td class="td1">Ombré hair / baby light + shampoing + soin + bain de couleur + coupe + brushing - cheveux mi-longs</td>
                <td class="td2">3h 15min</td>
                <td class="td3">à partir de 181,50 €</td>
            </tr>
                <td class="td1">Ombré hair / baby light + shampoing + soin + bain de couleur + brushing - cheveux longs</td>
                <td class="td2">4h</td>
                <td class="td3">à partir de 203,50 €</td>
            </tr>
                <td class="td1">Ombrée hair / baby light + shampoing + soin + bain de couleur + coupe + brushing - cheveux longs</td>
                <td class="td2">4h 30min</td>
                <td class="td3">à partir de 230 €</td>
            </tr>
        </table>

        <h4>Décoloration & Gommage</h4>

        <table>
            <tr>
                <td class="td1">Décoloration</td>
                <td class="td2">1h 30min</td>
                <td class="td3">à partir de 55 €</td>
            </tr>
            <tr>
                <td class="td1">Gommage</td>
                <td class="td2">1h</td>
                <td class="td3">à partir de 30 €</td>
            </tr>
        </table>

        <h4>Forme</h4>

        <table>
            <tr>
                <td class="td1">Permanente<p>Soutenu ou Effet souple, naturel</p></td>
                <td class="td2">1h</td>
                <td class="td3">à partir de 47 €</td>
            </tr>
        </table>

        <h4>Lissage Brésilien</h4>

        <table>
            <tr>
                <td class="td1">Lissage Brésilien</td>
                <td class="td2">1h 30min</td>
                <td class="td3">à partir de 170 €</td>
            </tr>
        </table>

        <h4>Botox</h4>

        <table>
            <tr>
                <td class="td1">Botox express</td>
                <td class="td2">1h</td>
                <td class="td3">à partir de 70 €</td>
            </tr>
            <tr>
                <td class="td1">Botox cure</td>
                <td class="td2">2h</td>
                <td class="td3">à partir de 95 €</td>
            </tr>
        </table>

        <h4>Coiffures & Evènements</h4>

        <table>
            <tr>
                <td class="td1">Coiffure tresse ou simple attache</td>
                <td class="td2">30min</td>
                <td class="td3">37€</td>
            </tr>
            <tr>
                <td class="td1">Extensions</td>
                <td class="td2">3h</td>
                <td class="td3">sur devis</td>
            </tr>
            <tr>
                <td class="td1">Mariage: essai + jour j</td>
                <td class="td2">1h</td>
                <td class="td3">145 €</td>
            </tr>
            <tr>
                <td class="td1">Chignon</td>
                <td class="td2">45min</td>
                <td class="td3">55 €</td>
            </tr>
        </table>

        <h4>Hommes</h4>

        <table>
            <tr>
                <td class="td1">Coupe homme technique (taper, dégradé espagnol...)</td>
                <td class="td2">45min</td>
                <td class="td3">34 €</td>
            </tr>
            <tr>
                <td class="td1">Shampoing + coupe + coiffage</td>
                <td class="td2">30min</td>
                <td class="td3">28,50 €</td>
            </tr>
            <tr>
                <td class="td1">Barbe à l'ancienne</td>
                <td class="td2">30min</td>
                <td class="td3">25 €</td>
            </tr>
            <tr>
                <td class="td1">Taille de barbe, rasage tondeuse</td>
                <td class="td2">15min</td>
                <td class="td3">18,50 €</td>
            </tr>
        </table>

        <h4>Enfants</h4>

        <table>
            <tr>
                <td class="td1">Bébé</td>
                <td class="td2">15min</td>
                <td class="td3">16 €</td>
            </tr>
            <tr>
                <td class="td1">Garçon de 3 à 10 ans</td>
                <td class="td2">30min</td>
                <td class="td3">18,50 €</td>
            </tr>
            <tr>
                <td class="td1">Ado garçon de 11 à 14 ans</td>
                <td class="td2">30min</td>
                <td class="td3">24,50 €</td>
            </tr>
            <tr>
                <td class="td1">Coupe ado technique (taper, dégradé espagnol...)</td>
                <td class="td2">45min</td>
                <td class="td3">30 €</td>
            </tr>
            <tr>
                <td class="td1">Fille de 3 à 10 ans</td>
                <td class="td2">30min</td>
                <td class="td3">23 €</td>
            </tr>
            <tr>
                <td class="td1">Fille de 3 à 10 ans cheveux long</td>
                <td class="td2">45min</td>
                <td class="td3">28 €</td>
            </tr>
            <tr>
                <td class="td1">Ado fille de 11 à 14 ans</td>
                <td class="td2">30min</td>
                <td class="td3">33 €</td>
            </tr>
            <tr>
                <td class="td1">Ado fille de 11 à 14 ans cheveux long</td>
                <td class="td2">45min</td>
                <td class="td3">38 €</td>
            </tr>
        </table>

        <h4>Manucure avec modelage</h4>

        <table>
            <tr>
                <td class="td1">Manucure et modelage mains<p>Soin des cuticules, limage et mise en forme de l'ongle, huile de soin ou vernis soin, crème mains avec massage des mains</p></td>
                <td class="td2">30min</td>
                <td class="td3">25 €</td>
            </tr>
            <tr>
                <td class="td1">Manucure et modelage avec pose de vernis classique au choix</td>
                <td class="td2">30min</td>
                <td class="td3">33 €</td>
            </tr>
            <tr>
                <td class="td1">Beauté des mains<p>Gommage des mains, mise en forme des ongles, masque et modelage, vernis base soin ou huile</p></td>
                <td class="td2">45min</td>
                <td class="td3">42 €</td>
            </tr>
        </table>

        <h4>Gel/Acrygel</h4>

        <table>
            <tr>
                <td class="td1">Pose complète Gel/Acrygel<p>Rallongement de l'ongle avec la technique des chablons (pour un rendu plus naturel)</p></td>
                <td class="td2">1h 30min</td>
                <td class="td3">65 €</td>
            </tr>
            <tr>
                <td class="td1">Remplissage 3/4 semaines</td>
                <td class="td2">1h 30min</td>
                <td class="td3">52€</td>
            </tr>
            <tr>
                <td class="td1">Dépose Acrygel limage & huile de soin ou vernis soin</td>
                <td class="td2">45min</td>
                <td class="td3">30 €</td>
            </tr>
            <tr>
                <td class="td1">Renfort Gel/Acrygel (gainage) sur ongles naturels (sans rallongement de l'ongle)</td>
                <td class="td2">1h</td>
                <td class="td3">52 €</td>
            </tr>
            <tr>
                <td class="td1">Pose complète Gel/Acrygel avec French ou Baby-Boomer</td>
                <td class="td2">2h</td>
                <td class="td3">75 €</td>
            </tr>
            <tr>
                <td class="td1">Nail Art(personnalisé, à la main)</td>
                <td class="td2">15min</td>
                <td class="td3">à partir de 3 €</td>
            </tr>
            <tr>
                <td class="td1">Remplissage Gel/Acrygel avec French ou Baby-Boomer</td>
                <td class="td2">2h</td>
                <td class="td3">62 €</td>
            </tr>
            <tr>
                <td class="td1">Réparation ongle ou ongle guitariste</td>
                <td class="td2">15min</td>
                <td class="td3">3 €</td>
            </tr>
        </table>

        <h4>Vernis semi-permanent (mains ou pieds)</h4>

        <table>
            <tr>
                <td class="td1">Pose de vernis semi-permanent</td>
                <td class="td2">45min</td>
                <td class="td3">35 €</td>
            </tr>
            <tr>
                <td class="td1">Pose de vernis semi-permanent avec French ou Baby-Boomer</td>
                <td class="td2">1h</td>
                <td class="td3">45 €</td>
            </tr>
            <tr>
                <td class="td1">Dépose et pose de vernis semi-permanent</td>
                <td class="td2">1h</td>
                <td class="td3">45 €</td>
            </tr>
            <tr>
                <td class="td1">Dépose et pose de vernis semi-permanent avec French ou Baby-Boomer</td>
                <td class="td2">1h 30min</td>
                <td class="td3">55 €</td>
            </tr>
            <tr>
                <td class="td1">Dépose de vernis semi-permanent, limage avec huile de soin ou vernis soin</td>
                <td class="td2">30min</td>
                <td class="td3">25 €</td>
            </tr>
        </table>
    </div>


{% endblock %}