{% extends 'base.html.twig' %}

{% block title %}Success{% endblock %}

{% block body %}


    <h2>Paiement réussi 🎉</h2>
    <div class="formLogin darkMode">
        <p>Merci pour votre commande</p>
        <a href="{{ path('app_accueil') }}">Retour à l'accueil</a>
    </div>
    
{% endblock %}