{% extends 'base.html.twig' %}

{% block title %}Photos{% endblock %}

{% block body %}


    <h1>Paiement réussi 🎉</h1>
    <p>Merci pour votre commande.</p>
    <a href="{{ path('app_accueil') }}">Retour à l'accueil</a>






    <a class="HP" href="#">Haut de page</a>
    
{% endblock %}